<%- include('partials/header') -%>
<div class="container mx-auto">
  <div class="flex justify-center lg:justify-end mb-24 mx-2">
    <div>
      <p><strong>Employee Name</strong>: <%= user.userName %></p>
      <p><strong>Email</strong>: <%= user.email %></p>
    </div>
  </div>
  <div class="mb-10 lg:mx-24">
    
  </div>
  <!-- <hr class="mb-10"> -->
  <div class="input-group input-group-vertical mb-2">
    <span>Customer:</span>
    <select name="customer" id="customer" class="input">
<%    if (customerList.length > 0) { %>
        <option value="" selected disabled>Please Select A Customer</option>
        <% customerList.forEach( el => { %>
          <option value="<%=el.companyName%>" data-id="<%= el._id%>"><%=el.companyName%></option>
<%      })
      } else { %>
        <option value="" selected disabled>Please Add A Customer</option>
<%    } %>
    </select>
    <button id="addCustomer" class="btn my-4">Add Customer</button>
  </div>
  <div class="input-group input-group-vertical mb-2">
    <span>Units:</span>
    <table id="units-table">
      <thead>
          <tr>
            <th class="px-2 py-2"></th>
            <th class="px-2 py-2">Manufacturer</th>
            <th class="px-2 py-2">Model Number</th>
            <th class="px-2 py-2">Serial Number</th>
            <th class="px-2 py-2">Status</th>
            <th class="px-2 py-2">Price</th>
            <th class="px-2 py-2">Sale Type</th>
            <th class="px-2 py-2">Core Exchange</th>
            <th class="px-2 py-2">Ship Date</th>
            <th class="px-2 py-2">Comments</th>
          </tr>
      </thead>
      <tbody id="units-table-body">
        <tr>
          </tr>
          </tbody>  
      </table>
      <span id="no-units">No units yet</span> 
    <button id="addUnit" class="btn my-4">Add Unit</button>
  </div>
  <form action="/jobs/createJob" method="POST" onsubmit="return validateCreateJobForm()" class="flex flex-col items-center">
    <label class="input-group input-group-vertical mb-2">
      <span>Incoming Date:</span>
      <input type="date"  id="incomingDate" name="inDate" class="input input-bordered" required/>
    </label>
    <label class="input-group input-group-vertical mb-2">
      <span>PO Number:</span>
      <input type="text"  id="poNumber" name="poNumber" placeholder="PO Number" class="input input-bordered"/>
    </label>
    <label class="input-group input-group-vertical mb-2">
      <span>Reference Number:</span>
      <input type="text"  id="refNumber" name="refNumber" placeholder="Reference Number" class="input input-bordered"/>
    </label>
    <label class="input-group input-group-vertical mb-2">
      <span>Shipped Via:</span>
      <input type="text"  id="shippedVia" name="shippedVia" placeholder="Shipment Type" class="input input-bordered"/>
    </label>
    <label class="input-group input-group-vertical mb-2">
      <span>Shipping Weight (lbs):</span>
      <input type="number"  id="shippingWeight" name="shippingWeight" placeholder="Weight" class="input input-bordered"/>
    </label>
    <label class="input-group input-group-vertical mb-2">
      <span>Invoiced:</span>
      <select name="invoiced" id="invoiced" class="input">
        <option value="No">No</option>
        <option value="Yes">Yes</option>
      </select>
    </label>
    <label class="input-group input-group-vertical mb-2">
      <span>Comments:</span>
      <textarea id="jobComments" name="jobComments" placeholder="Add comment" class="input input-bordered"></textarea>
    </label>
    <input type="hidden"  id="company" name="company" value="">
    <input type="hidden"  id="units" name="units" value="">
    <input type="hidden"  id="quantity" name="quantity" value="0">

    <button type="submit" class="btn btn-block mt-3">Add Job</button>
    <span id="validationMessage"></span>
  </form>
</div>

<!-- Add Customer Modal-->
<input type="checkbox" id="add-customer-modal-checkbox" class="modal-toggle" />
<div id="add-customer-modal" class="modal modal-bottom sm:modal-middle">
  <div class="modal-box">
    <h3 class="font-bold text-lg text-center ">Add Customer</h3>
    <div class="modal-action job-creator-modal-action">
      <form action="/jobs/createCustomer" method="POST" class="col-3">
        <label class="input-group input-group-vertical mb-2">
          <span>Company Name:</span>
          <input type="text" id="companyName" name="companyName" class="input input-bordered"/>  
        </label>
        <label class="input-group input-group-vertical mb-2">
          <span>Shipping Address:</span>
          <input type="text" id="shippingAddress" name="shippingAddress" class="input input-bordered"/>
        </label>
        <label class="input-group input-group-vertical mb-2">
          <span>Billing Address:</span>
          <input type="text" id="billingAddress" name="billingAddress" class="input input-bordered"/> 
        </label>
        <label class="input-group input-group-vertical mb-2">
          <span>Contact:</span>
          <input type="text" id="contact" name="contact" class="input input-bordered"/>
        </label>
        <label class="input-group input-group-vertical mb-2">
          <span>Telephone Number:</span>
          <input type="tel" id="tel" name="tel" class="input input-bordered"/>
        </label>
        <label class="input-group input-group-vertical mb-2">
          <span>Fax Number:</span>
          <input type="tel" id="fax" name="fax" class="input input-bordered"/>
        </label>
        <label class="input-group input-group-vertical mb-2">
          <span>Comments:</span>
          <textarea name="customerComments" id="customerComments" cols="30" rows="10" class="input input-bordered"></textarea>
        </label>
        <button type="submit" class="btn btn-block" id="btn-add-customer" data-id="0">Add</button>
        </form>
    </div>
    <div class="flex justify-evenly">
        <button class="btn cancel-add-customer flex-auto my-1 mr-1">Cancel</button>
        <button class="btn clear-add-customer flex-auto my-1 ml-1">Clear</button>
      </div>
  </div>
</div>

<!-- Add Unit Modal-->
<div id="add-unit-modal" class="modal sm:modal-middle">
  <div class="modal-box">
    <h3 class="font-bold text-lg text-center">Add Unit</h3>
    <div class="modal-action job-creator-modal-action">
      <form name="createJobUnitForm" action="" class="col-3">
        <label class="input-group input-group-vertical mb-2">
          <span>Manufacturer:</span>
          <input type="text" id="manufacturer" name="manufacturer" class="input input-bordered"/>
        </label>
        <label class="input-group input-group-vertical mb-2">
          <span>Model Number:</span>
          <input type="text" id="modelNumber" name="modelNumber" class="input input-bordered"/>
        </label>
        <label class="input-group input-group-vertical mb-2">
          <span>Serial Number:</span>
          <input type="text" id="serialNumber" name="serialNumber" class="input input-bordered"/>
        </label>
        <label class="input-group input-group-vertical mb-2">
          <span>Status:</span>
          <select id="status" name="status" class="input"/>
            <option value="toBeEvaluated">To Be Evaluated</option>
            <option value="approved">Approved</option>
            <option value="holdForApproval">Hold For Approval</option>
            <option value="returned">Returned Unrepaired</option>
            <option value="nfd">N.F.D.</option>
            <option value="scrap">Scrap</option>
            <option value="warranty">Warranty</option>
            <option value="ber">B.E.R.</option>
          </select>
        </label>
        <label class="input-group input-group-vertical mb-2">
          <span>Price:</span>
          <input type="number" id="price" name="price" class="input input-bordered"/>
        </label>
        <label class="input-group input-group-vertical mb-2">
          <span>Sale Type:</span>
          <select name="saleType" id="saleType" class="input">
            <option value="repair">Repair</option>
            <option value="reman">Reman</option>
            <option value="new">New</option>
          </select>
        </label>
        <label class="input-group input-group-vertical mb-2">
          <span>Core Exchange:</span>
          <select name="coreExchange" id="coreExchange" class="input">
            <option value="n/a">N/A</option>
            <option value="no">No</option>
            <option value="yes">Yes</option>
          </select>
        </label>
        <label class="input-group input-group-vertical mb-2">
          <span>Shipped Date:</span>
          <input type="date"  id="shipped" name="shipped" class="input input-bordered"/>
        </label>
        <label class="input-group input-group-vertical mb-2">
          <span>Comments:</span>
          <textarea name="unitComments" id="unitComments" cols="30" rows="10" class="input input-bordered"></textarea>
        </label>
        <button type="submit" class="btn btn-block" id="btn-add-unit" data-id="0">Add</button>
      </form>
    </div>
      <div class="flex justify-evenly">
        <button class="btn cancel-add-unit flex-auto my-1 mr-1">Cancel</button>
        <button class="btn clear-add-unit flex-auto my-1 ml-1">Clear</button>
      </div>
  </div>
</div>
<!-- End Add Unit Modal-->

<script src="../js/jobCreator.js"></script>
<!-- <script src="../js/deleteItemModal.js"></script> -->
<%- include('partials/footer') -%>