<%- include('partials/header') -%>
<div class="container mx-auto">
  <div class="flex flex-col sm:flex-row justify-around items-center mt-5 mx-2 ">
    <a href="/jobs/createJob"><button class="btn btn-primary m-3">Add New Job</button></a>
    <!-- <div>
      <p class="text-sm"><strong>Employee Name</strong>: <%= user.userName %></p>
      <p class="text-sm"><strong>Email</strong>: <%= user.email %></p>
    </div> -->
  </div>
  <hr class="m-10">
  <div class="mt-12 mb-10 mx-5 lg:mx-24 overflow-auto max-h-screen">
    <table class="table-auto w-full">
      <thead>
        <tr>
          <td class="px-4 py-2"></td>
          <td class="px-4 py-2">AS OF</td>
          <td class="px-4 py-2">JOB#</td>
          <td class="px-4 py-2">CUSTOMER</td>
          <td class="px-4 py-2">QTY</td>
          <td class="px-4 py-2">MFG</td>
          <td class="px-4 py-2">MODEL</td>
          <td class="px-4 py-2">PO#</td>
          <td class="px-4 py-2">REF#</td>
        </tr>
      </thead>
      <tbody>
        <% jobs.forEach( (el, i) => { %>
          <tr class="priceList border-2 border-secondary mb-4 py-2 hover:bg-gray-800" data-id='<%= el._id %>' onclick="document.location='/jobs/<%= el._id %>'">
            <td><button class="btn btn-primary modal-button job-modal-button fa fa-trash m-2" data-id='<%= el._id %>'></button></td>
            <td class="px-4 py-2"><%= el.inDate.toLocaleDateString() %></td>
            <td class="px-4 py-2"><%= el.jobNumber %></td>
            <td class="px-4 py-2"><%= companyNames[i].companyName %></td>
            <td class="px-4 py-2"><%= el.units.length %></td>
            <% const mfgList = [...new Set(units[i].map(obj => obj.manufacturer))]
            const mfgString = mfgList.join(', ') %>
            <td class="px-4 py-2"><%= mfgString %></td>
            <% const modelList = [...new Set(units[i].map(obj => obj.modelNumber))]
            const modelString = modelList.join(', ') %>
            <td class="px-4 py-2"><%= modelString %></td>
            <td class="px-4 py-2"><%= el.poNumber %></td>
            <td class="px-4 py-2"><%= el.refNumber %></td>
          </tr>
        <% }) %>
      </tbody>    
    </table>
  </div>
  
</div>

<!-- Modal to confirm job deletion-->
<input type="checkbox" id="delete-job-modal" class="modal-toggle" />
<div class="modal modal-bottom sm:modal-middle">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Delete Job</h3>
    <p class="py-4">Are you sure you want to delete this job?</p>
    <div class="modal-action">
      <button class="btn cancel-delete-job">Cancel</button>
      <form action="/jobs/deleteJob/" method="POST" class="col-3">
        <button type="submit" class="btn btn-rounded btn-danger btn-modal" id="btn-delete-job" data-id="0">Delete</button>
      </form>
    </div>
  </div>
</div>
<script src="../js/deleteJobModal.js"></script>
<%- include('partials/footer') -%>